.container {
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 24px;
    padding-left: 60px;
    font-size: 2rem;
}

.textA {
    text-align: center;
    padding: 30px 100px 60px;
}

.logoContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 200px;
}

.logo {
    max-height: 280px;
    max-width: 100%;

}