.header {
    background-color: black;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin: 0 60px;
}

.navItem {
    margin: 0 20px;
}

.navItem a {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    padding: 1.5rem;
    transition: color 0.3s;
}

.navItem a:hover {
    color: black;
    text-shadow: 0 0 10px white;
}

.logoContainer {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    min-width: 200px;
}

.logo {
    max-height: 280px;
    max-width: 100%;
}
