.header {
    background-color: black;
    padding: 40px 60px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navLinks {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    transition: color 0.3s, text-shadow 0.3s;
}

.navItem a {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    padding: 1.5rem;
    transition: color 0.3s;
}
.navItem a:hover {
    color: black;
    text-shadow: 0 0 10px white;
}

.logoContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 200px;
}

.logo {
    max-height: 280px;
    max-width: 100%;

}