.header {
    background-color: black;
    padding: 60px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logoContainer {
    margin-bottom: 20px;
}

.navContainer {
    display: flex;
    align-items: center;
}

.navItem {
    margin: 0 15px;
}

.navItem a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    transition: color 0.3s;
}

.navItem a:hover {
    color: black;
    text-shadow: 0 0 10px white;
}

.logo {
    max-height: 200px;
    max-width: 100%;
}

.menuToggle {
    position: absolute;
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header {
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }

    .headerContent {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navContainer {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 10;
        padding: 50px 0;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s ease;
        opacity: 0;
        visibility: hidden;
    }

    .navContainer.open {
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    .navItem {
        margin: 20px 0;
        text-align: center;
        font-size: 2rem;
    }

    .menuToggle {
        display: block;
        margin: 10px 0;
    }

    .logo {
        max-height: 150px;
    }
}

@media (max-width: 480px) {
    .navItem a {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .logo {
        max-height: 120px;
    }
}
