.movieInfoContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    flex-direction: column;
}

.moviePosterContainer {
    flex: 1;
    display: flex;
    align-items: flex-start;
}

.image {
    max-height: 500px;
    border-radius: 60px;
}

.title {
    text-align: left;
    margin-bottom: 24px;
    padding-top: 60px;
    font-size: 2rem;
}

.watchlistContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.watchlistImage {
    width: 100px;
    height: auto;
}

.watchlistText {
    margin-top: 10px;
    margin-bottom: 24px;
    padding: 5px;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
}

.date, .rating, .genre, .duration, .cast, .overview{
    margin-bottom: 24px;
    padding: 5px;
    font-size: 1rem;
}

.subTitle{
    text-align: center;
}

.overview{
    text-align: left;
    margin-bottom: 24px;
    padding: 5px 20px;
    font-size: 1rem;
}

