.movieInfoContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    flex-direction: column;
}

.titleContainer {
    display: flex;
    justify-content: center;
}

.title {
    text-align: left;
    margin-bottom: 24px;
    font-size: 2rem;
}

.moviePosterContainer {
    display: flex;
    align-items: flex-start;
    max-height: 70%;
}

.image {
    border-radius: 60px;
}

.trailerContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    overflow: hidden;
    cursor: pointer;
}

.trailerVideo {
    height: 40rem;
    width: 80%;
    border: none;
}

.watchlistInfoContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    width: 100%;
}

.watchlistContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watchlistImage {
    width: 100px;
    height: auto;
}

.watchlistText {
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    cursor: pointer;
}

.secondaryInfoContainer {
    max-width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
}

.infoContainer {
    margin-bottom: 24px;
    padding-bottom: 5px;
    font-size: 1rem;
    text-align: left;
    max-width: 100%;
}

.subtitle {
    display: flex;
    align-items: start;
    padding-bottom: 10px;
}

.infoText {
    font-size: 1rem;

}

