.movieInfoContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    flex-direction: column;
}

.titleContainer {
    display: flex;
    justify-content: center;
}

.title {
    text-align: left;
    margin-bottom: 24px;
    font-size: 2rem;
}

.moviePosterContainer {
    display: flex;
    align-items: flex-start;
    max-height: 30vh;
    max-width: 32%;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 60px;
}

.trailerContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    overflow: hidden;
    cursor: pointer;
}

.trailerVideo {
    height: 40rem;
    width: 80%;
    border: none;
}

.watchlistInfoContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 30px 60px 60px;
    width: 100%;
}

.watchlistContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watchlistImage {
    width: 100px;
    height: auto;
}

.watchlistText {
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    cursor: pointer;
}

.secondaryInfoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    max-width: 50%;
    padding-left: 60px;
    padding-right: 60px;
}

.infoContainer {
    margin-bottom: 24px;
    padding-bottom: 5px;
    font-size: 1rem;
    text-align: left;
    max-width: 100%;
}

.subtitle {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.infoText {
    font-size: 1rem;

}

@media (max-width: 1024px) {
    .moviePosterContainer {
        max-height: 40vh;
        max-width: 30%;
    }

    .image {
        max-height: 100%;
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 60px;
    }
}

@media (max-width: 768px) {
    .movieInfoContainer {
        flex-direction: column;
        padding: 1vh 1vw;
        text-align: center;
    }

    .watchlistInfoContainer {
        flex-direction: column;
        align-items: center;
        padding: 1vh 0;
        width: 100%;
    }

    .moviePosterContainer {
        max-height: 200vh;
        width: auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2vw 2vw;
    }

    .image {
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 60px;
    }

    .secondaryInfoContainer {
        max-width: 90%;
        padding: 0 2vw;
        align-items: center;
        text-align: center;

    }

    .trailerContainer {
        width: 100%;
        margin-top: 2vh;
    }

    .trailerVideo {
        width: 90%;
        height: auto;
    }

    .title {
        text-align: center;
    }

    .watchlistImage {
        width: 20vw;
    }

    .infoContainer {
        margin-bottom: 24px;
        padding-bottom: 5px;
        font-size: 1rem;
        text-align: center;
        max-width: 100%;
    }

    .subtitle {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        text-align: center;
    }

    .infoText {
        font-size: 1rem;
        text-align: center;
    }

}




